.myCleanups {
    text-align: center;
    height: 100%;
}

.cleanup {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba( 255, 255, 255, .5) ;
    border: 3px solid rgba(0,0,0, .2);
    border-radius: 5px;
    display: grid;
}
.itemBlock {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    margin: 5px;
}

.cleanup_item {
    width: 100%;
}

.itemBlock div{
    text-align: left; 
}
.itemBlock div select{
    margin-left: 20px; 
}

@media only screen and (min-width: 650px) {
    .myCleanups {
        margin: 20px auto;
        width:  75%;
    }
    .country_region_label {
        font-size: 1em;
        margin-left: 50px;
    }
    .itemBlock div select {
        margin-left: 50px;
    }

    .itemBlock  {
        padding: 10px;
        width: 80%;
        margin: 5px auto;
    }
}